__pycache__/
*.pyc
.venv/
venv/
ENV/
.streamlit/
airflow_home/
logs/
plugins/__pycache__/
dags/__pycache__/
raw-data/
good-data/
good_data/
bad-data/
bad_data/
db/
responses/
*.db
*.sqlite
.DS_Store
Thumbs.db
.idea/
.vscode/
.env
.env.*
pgdata/
.venv/
venv/
__pycache__/
*.pyc
airflow_home/
logs/
plugins/__pycache__/
dags/__pycache__/
raw-data/
good-data/
good_data/
bad-data/
bad_data/
responses/
db/
pgdata/
*.db
*.sqlite
.env
.env.*
.DS_Store
Thumbs.db
.vscode/
.idea/
